<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue - CRUD - Endereço - Jogador - LocalStorage</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.4/dist/validators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link rel="stylesheet" href="css/estilos.css" />
</head>

<body>

    <div class="container-fluid">
        <h2>Formulários e LocalStorage</h2>
        <div class="row">
            <div class="col-xs-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                    <li><a data-toggle="pill" href="#menu1">Endereço</a></li>
                    <li><a data-toggle="pill" href="#menu2">Jogador</a></li>
                    <li><a data-toggle="pill" href="#menu3">Modo</a></li>
                    <li><a data-toggle="pill" href="#menu4">Objetivo</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                <div class="tab-content" id="app">

                    <div id="menu4" class="tab-pane fade">
                        <h3>Objetivo</h3>
                        <table class="table table-striped">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Qtd. Pontos</th>
                                <th scope="col">Status</th>
                                <th scope="col">Alterar</th>
                                <th scope="col">Remover</th>
                            </tr>
                            <tbody>
                                <tr v-for="(o, indice) in objetivos">
                                    <td>{{o.id}}</td>
                                    <td>{{o.nome}}</td>
                                    <td>{{o.qtd_pontos}}</td>
                                    <td v-if="o.status"><input type="checkbox" checked disabled></td>
                                    <td v-if="!o.status"><input type="checkbox" disabled></td>
                                    <td><button v-on:click="editObjetivo(indice)" class="btn"
                                            type="button">Alterar</button></td>
                                    <td><button v-on:click="remObjetivo(indice)" class="btn"
                                            type="button">Remover</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <form id="formularioObjetivo">
                            <h3>Formulário para cadastrar Objetivo</h3>
                            <p v-if="errosO.length">
                                <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                            <ul>
                                <li v-for="error in errosO">{{ error }}</li>
                            </ul>
                            </p>
                            <div>
                                <div class="form-group">
                                    <label for="inputIdO">#:</label>
                                    <input type="text" v-model="novo_objetivo.id" class="form-control" id="inputIdO"
                                        disabled>
                                </div>
                                <div class="form-group">
                                    <label for="input_nome">Nome:</label>
                                    <input type="text" v-model="novo_objetivo.nome" class="form-control"
                                        id="input_nome">
                                </div>
                                <div class="form-group">
                                    <label for="input_qtd_pontos">Qtd. Pontos:</label>
                                    <input type="number" v-model="novo_objetivo.qtd_pontos" class="form-control"
                                        id="input_qtd_pontos">
                                </div>
                                <div class="form-group">
                                    <label for="checkStatus">Status:</label>
                                    <input type="checkbox" v-model="novo_objetivo.status" id="checkStatusObjetivo">
                                </div>

                                <button @click="addObjetivo" class="btn btn-primary" type="button">Salvar</button>
                                <button @click="cleanFormularioObjetivo" class="btn btn-primary"
                                    type="button">Limpar</button>
                            </div>
                        </form>
                    </div>

                    <div id="menu3" class="tab-pane fade">
                        <h3>Modo</h3>
                        <table class="table table-striped">
                            <tr>
                                <th scope='col'>#:</th>
                                <th scope='col'>Nome:</th>
                                <th scope='col'>Status:</th>
                                <th scope='col'>Alterar:</th>
                                <th scope='col'>Remover:</th>
                            </tr>
                            <tbody>
                                <tr v-for="(m, indice) in modos">
                                    <td>{{m.id}}</td>
                                    <td>{{m.nome}}</td>
                                    <td v-if="m.status"><input type="checkbox" checked disabled></td>
                                    <td v-if="!m.status"><input type="checkbox" disabled></td>
                                    <td><button v-on:click="editModo(indice)" class="btn" type="button">Alterar</button>
                                    </td>
                                    <td><button v-on:click="remModo(indice)" class="btn" type="button">Remover</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form id="formularioModo">
                            <h3>Formulario para cadastrar modo</h3>

                            <div>
                                <div class='form-group'>
                                    <label for="input_Id">#:</label>
                                    <input type="text" v-model="$v.novo_modo.id" class="form-control" id="input_Id"
                                        disabled>
                                </div>

                                <div class='form-group'>
                                    <label for="input_status">Status:</label>
                                    <input type="checkbox" v-model="novo_modo.status" id="input_status">
                                </div>

                                <div class="error" v-if="!$v.novo_modo.nome.required">
                                    Nome deve conter no mínimo {{$v.novo_modo.nome.$params.minLength.min}} caracteres
                                </div>
                                <div class='form-group'>
                                    <label for="inputNome">Nome:</label>
                                    <input type="text" v-model.trim="$v.novo_modo.nome.$model" :class="status($v.novo_modo.nome)" class="form-control"
                                        id="inputNome">
                                </div>

                                <button @click="addModo($v)" class="btn btn-primary" type="button">Salvar</button>
                                <button @click="cleanFormularioModo" class="btn btn-primary"
                                    type="button">Limpar</button>
                            </div>

                        </form>
                    </div>

                    <div id="home" class="tab-pane fade in active">
                        <h3>HOME</h3>
                        <p>Em breve autenticação de Jogador... </p>
                    </div>
                    <div id="menu1" class="tab-pane fade">

                        <h2>Listagem de Endereços</h2>

                        <table class="table table-striped">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">CEP</th>
                                <th scope="col">Numero</th>
                                <th scope="col">Alterar</th>
                                <th scope="col">Remover</th>
                            </tr>
                            <tbody>
                                <tr v-for="(e, indice) in enderecos">
                                    <td>{{e.id}}</td>
                                    <td>{{e.cep}}</td>
                                    <td>{{e.numero}}</td>
                                    <td><button v-on:click="editEndereco(indice)" class="btn"
                                            type="button">Alterar</button></td>
                                    <td><button v-on:click="remEndereco(indice)" class="btn"
                                            type="button">Remover</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <form id="formularioEndereco">
                            <h3>Formulário para cadastrar Endereço</h3>
                            <p v-if="errosE.length">
                                <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                            <ul>
                                <li v-for="error in errosE">{{ error }}</li>
                            </ul>
                            </p>
                            <div>
                                <div class="form-group">
                                    <label for="inputId">#:</label>
                                    <input type="text" v-model="novo_endereco.id" class="form-control" id="inputId"
                                        disabled>
                                </div>
                                <div class="form-group">
                                    <label for="inputCEP">CEP:</label>
                                    <input type="text" v-model="novo_endereco.cep" class="form-control" id="inputCEP">
                                </div>
                                <div class="form-group">
                                    <label for="inputNumero">CEP:</label>
                                    <input type="text" v-model="novo_endereco.numero" class="form-control"
                                        id="inputNumero">
                                </div>
                                <div class="form-group">
                                    <label for="inputComplemento">Complemento:</label>
                                    <input type="text" v-model="novo_endereco.complemento" class="form-control"
                                        id="inputComplemento"><!--Atividade 2 - Aplicar um input/calendario mais apropriado. -->
                                </div>

                                <button @click="addEndereco" class="btn btn-primary" type="button">Salvar</button>
                                <button @click="cleanFormularioEndereco" class="btn btn-primary"
                                    type="button">Limpar</button>
                            </div>
                        </form>

                    </div>
                    <div id="menu2" class="tab-pane fade">

                        <h2>Listagem de Jogadores do CS - LocalStorage</h2>
                        <table class="table table-striped">
                            <tr>
                                <th scope="col">NickName</th>
                                <th scope="col">Data Nascimento</th>
                                <th scope="col">Quantidade de Estrelas</th>
                                <th scope="col">Endereco</th>
                                <th scope="col">Status</th>
                                <th scope="col">Alterar</th>
                                <th scope="col">Remover</th>
                            </tr>
                            <tbody>
                                <tr v-for="(j, indice) in jogadores">
                                    <td>{{j.nickname}}</td>
                                    <td>{{j.data_nascimento | formataData}}</td>
                                    <td>{{j.qtd_estrela}}</td>
                                    <td>{{j.endereco.cep}}</td>
                                    <td v-if="j.status"><input type="checkbox" checked disabled></td>
                                    <td v-if="!j.status"><input type="checkbox" disabled></td>
                                    <td><button v-on:click="editJogador(indice)" class="btn"
                                            type="button">Alterar</button></td>
                                    <td><button v-on:click="remJogador(indice)" class="btn"
                                            type="button">Remover</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <form id="formularioJogador">
                            <h3>Formulário para cadastrar Jogador</h3>
                            <p v-if="errosJ.length">
                                <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                            <ul>
                                <li v-for="error in errosJ">{{ error }}</li>
                            </ul>
                            </p>
                            <div class="form-group">
                                <label for="inputNickname">Nickname:</label>
                                <input type="text" v-model="novo_jogador.nickname" class="form-control"
                                    id="inputNickname">
                            </div>
                            <div class="form-group">
                                <label for="inputDtNasc">D. Nascimento:</label>
                                <input type="date" v-model="novo_jogador.data_nascimento" class="form-control"
                                    id="inputDtNasc"><!--Atividade 2 - Aplicar um input/calendario mais apropriado. -->
                            </div>
                            <div class="form-group">
                                <label for="inputQtdEstrela">Quantidade de Estrelas:</label>
                                <input type="number" v-model="novo_jogador.qtd_estrela" class="form-control"
                                    id="inputQtdEstrela">
                            </div>
                            <!-- https://br.vuejs.org/v2/guide/forms.html -->
                            <div class="form-group">
                                <label for="selectEndereco"><a
                                        href="Vue_crud_select_localstorage_endereco.html">Endereço:</a></label>
                                <select v-model="novo_jogador.endereco" class="form-control" id="selectEndereco">
                                    <option disabled value="">Escolha um item</option>
                                    <option v-for="e in enderecos" v-bind:value="e">
                                        {{ e.cep }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="checkStatus">Status:</label>
                                <input type="checkbox" v-model="novo_jogador.status"
                                    id="checkStatus"><!--Atividade 1 - Aplicar um input mais apropriado. -->
                            </div>
                            <div class="form-group">
                                <label for="inputSenha">Senha:</label>
                                <input type="password" v-model="novo_jogador.senha" class="form-control"
                                    id="inputSenha"><!--Atividade 3 - Aplicar um input mais apropriado. -->
                            </div>

                            <button @click="addJogador" class="btn btn-primary" type="button">Salvar</button>
                            <button @click="cleanFormularioJogador" class="btn btn-primary"
                                type="button">Limpar</button>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript">

    $(document).ready(function () {

        var errosE = [];

        var errosJ = [];

        var errosO = [];

        var jogadores = [];
        //testa se existe o item jogadores no localStorage do navegador.
        if (localStorage.getItem("jogadores") == null) {

            //caso não exista cria o item jogadores.
            localStorage.setItem("jogadores", JSON.stringify([]));

        } else {
            //se existir, realiza o parse e armazena na variável jogadores.
            jogadores = JSON.parse(localStorage.getItem("jogadores"))
        }

        var enderecos = [];
        //testa se existe o item enderecos no localStorage do navegador.
        if (localStorage.getItem("enderecos") == null) {

            //caso não exista cria o item enderecos.
            localStorage.setItem("enderecos", JSON.stringify([]));

        } else {
            //se existir, realiza o parse e armazena na variável enderecos.
            enderecos = JSON.parse(localStorage.getItem("enderecos"));
        }

        var modos = [];
        if (localStorage.getItem("modos") == null) {
            localStorage.setItem("modos", JSON.stringify([]));
        } else {
            modos = JSON.parse(localStorage.getItem("modos"));
        }

        var objetivos = [];
        if (localStorage.getItem("objetivos") == null) {
            localStorage.setItem("objetivos", JSON.stringify([]));
        } else {
            objetivos = JSON.parse(localStorage.getItem("objetivos"));
        }


        var dados = {
            "jogadores": jogadores,
            "novo_jogador": { indice: '', nickname: '', data_nascimento: '', qtd_estrela: '', status: true, senha: '', endereco: {} },

            "enderecos": enderecos,
            "novo_endereco": { indice: '', id: '', cep: '', numero: '', complemento: '' },

            "objetivos": objetivos,
            "novo_objetivo": { indice: '', id: '', nome: '', qtd_pontos: '', status: true },

            "modos": modos,
            "novo_modo": { indice: '', id: '', nome: '', status: true },

            "errosJ": errosJ,
            "errosE": errosE,
            "errosO": errosO,
        };

        Vue.filter('formataData', function (value) {
            //yyyy-mm-dd
            var data = new Date(value);
            data.setDate(data.getDate() + 1); //incrementa a data em um dia para mostrar corretamente (pode nao ser necessário)              
            dia = (data.getDate()).toString().padStart(2, '0'),
                mes = (data.getMonth() + 1).toString().padStart(2, '0'), //+1 pois no getMonth Janeiro começa com zero.                
                ano = data.getFullYear();
            return dia + "/" + mes + "/" + ano;
        });

        Vue.use(window.vuelidate.default);
        const {
            required,
            minLength,
            minValue,
            between
        } = window.validators;
        new Vue({
            el: '#app',
            data: dados,
            validations: {
                novo_modo:{
                    nome:{required,
                    minLength: minLength(3)
                }
                }
            },
            methods: {
                    checkform: function () {
                        var data_atual = new Date();

                        var data_form = new Date(this.novo_jogador.data_nascimento);

                        var data_correta = false;

                        if (data_atual > data_form) {
                            data_correta = true;
                        } else {
                            data_correta = false;
                        }

                        this.errosJ = [];

                        if (this.novo_jogador.nickname.trim().length > 3 &&
                            this.novo_jogador.qtd_estrela > 0 &&
                            this.novo_jogador.qtd_estrela < 101 &&
                            this.novo_jogador.senha.length > 3 &&
                            !isNaN(parseInt(this.novo_jogador.endereco.id)) &&
                            data_correta == true) {
                            return true;
                        }

                        if (this.novo_jogador.nickname.trim().length <= 3) {
                            this.errosJ.push('O nickname é obrigatório.');
                        }

                        if (this.novo_jogador.qtd_estrela < 1 || this.novo_jogador.qtd_estrela > 100) {
                            this.errosJ.push('Quantidade inválida de estrelas.');
                        }

                        if (this.novo_jogador.senha.trim().length <= 3) {
                            this.errosJ.push('Informe senha com 4 dígitos.');
                        }

                        if (data_correta == false) {
                            this.errosJ.push('Informe data.');
                        }
                        if (isNaN(parseInt(this.novo_jogador.endereco.id))) {
                            this.errosJ.push('O endereço é obrigatório.');
                        }
                    },

                    checkformE: function () {
                        this.errosE = [];

                        if (this.novo_endereco.cep.trim().length != 8) {
                            this.errosE.push('CEP inválido.');
                        }
                        if (this.novo_endereco.cep.trim().length == 8 && this.novo_endereco.numero.length != 0) {
                            return true;
                        }
                        if (this.novo_endereco.numero.trim().length == 0) {
                            this.errosE.push('Informe número.');
                        }

                    },

                    checkformO: function () {
                        this.errosO = [];

                        if (this.novo_objetivo.nome.trim().length == 0) {
                            this.errosO.push('Informe nome.');
                        }
                        console.log("passou 1")
                        if (this.novo_objetivo.nome.trim().length > 20) {
                            this.errosO.push('Nome deve conter entre 1 e 20 caracteres')
                        }
                        console.log("passou 2")
                        if (this.novo_objetivo.qtd_pontos <= 0) {
                            this.errosO.push('Informe quantidade de pontos.');
                        }
                        console.log("passou 3")
                        if (this.novo_objetivo.qtd_pontos > 10000) {
                            this.errosO.push('Quantidade de pontos deve ser entre 1 e 10000.')
                        }
                        console.log("passou 4")

                        if (this.novo_objetivo.nome.trim().length > 0 && this.novo_objetivo.nome.trim().length <= 20 && this.novo_objetivo.qtd_pontos > 0 && this.novo_objetivo.qtd_pontos <= 10000) {
                            console.clear()
                            console.log("passou na validação");
                            return true;
                        }
                    },

                    addEndereco: function () {
                        if (this.checkformE()) {
                            var input_id = this.novo_endereco.id;
                            var input_cep = this.novo_endereco.cep.trim();
                            var input_complemento = this.novo_endereco.complemento.trim();
                            var input_numero = this.novo_endereco.numero.trim();

                            //Atividade 5 - testar o tamanho do nickname e senha. Não permitir tamanhos menores do que 4 para ambos.
                            //documentação sobre o parseInt
                            //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/parseInt
                            if (input_cep.length == 8) {
                                if (isNaN(parseInt(this.novo_endereco.indice))) {
                                    var proximo_id;
                                    if (this.enderecos.length == 0) {
                                        proximo_id = 1;
                                    } else {
                                        proximo_id = (parseInt(this.enderecos[this.enderecos.length - 1].id) + 1)
                                    }
                                    this.enderecos.push({
                                        id: proximo_id,
                                        cep: input_cep,
                                        numero: input_numero,
                                        complemento: input_complemento
                                    }
                                    );


                                    alert('Novo Endereco cadastrado !');

                                } else {


                                    this.enderecos[this.novo_endereco.indice] = {
                                        id: input_id,
                                        cep: input_nome,
                                        numero: input_qtd_estrela,
                                        complemento: checks
                                    };
                                    alert('Endereço alterado !');


                                }
                                localStorage.setItem("enderecos", JSON.stringify(this.enderecos));

                                this.cleanFormularioEndereco();

                            }
                        } else {

                            alert("Erro no cadastro, veja a lista de erros!!!");
                        }
                    },

                    editEndereco: function (param_index) {
                        this.novo_endereco.indice = param_index;
                        this.novo_endereco.id = this.enderecos[param_index].id;
                        this.novo_endereco.cep = this.enderecos[param_index].cep;
                        this.novo_endereco.numero = this.enderecos[param_index].numero;
                        this.novo_endereco.complemento = this.enderecos[param_index].complemento;
                    },

                    remEndereco: function (param_index) {

                        // Atividade 4 - Confirmar antes de remover

                        //documentacao sobre o splice
                        //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Array/splice
                        //remove 1 elemento do índice definido pela variavel param_index
                        this.enderecos.splice(param_index, 1);

                        localStorage.setItem("enderecos", JSON.stringify(this.enderecos));

                        alert('Removeu o Endereco: ' + param_index);
                    },

                    cleanFormularioEndereco: function () {

                        this.novo_endereco.indice = '';
                        this.novo_endereco.id = '';
                        this.novo_endereco.cep = '';
                        this.novo_endereco.numero = '';
                        this.novo_endereco.complemento = '';
                    },

                    addJogador: function () {
                        if (this.checkform()) {
                            var input_indice = this.novo_jogador.indice;
                            var input_nickname = this.novo_jogador.nickname.trim();
                            var input_data_nascimento = this.novo_jogador.data_nascimento.trim();
                            var input_qtd_estrela = this.novo_jogador.qtd_estrela;
                            var input_senha = this.novo_jogador.senha.trim();
                            var input_status = this.novo_jogador.status;
                            var select_endereco = this.novo_jogador.endereco;

                            if (input_nickname && input_qtd_estrela > -1 && input_senha && select_endereco) {

                                if (isNaN(parseInt(input_indice))) {

                                    this.jogadores.push({
                                        nickname: input_nickname,
                                        data_nascimento: input_data_nascimento,
                                        qtd_estrela: input_qtd_estrela,
                                        status: input_status,
                                        senha: input_senha,
                                        endereco: select_endereco
                                    }
                                    );


                                    alert('Novo Jogador cadastrado !');

                                } else {

                                    this.jogadores[input_indice] = {
                                        nickname: input_nickname,
                                        data_nascimento: input_data_nascimento,
                                        qtd_estrela: input_qtd_estrela,
                                        status: input_status,
                                        senha: input_senha,
                                        endereco: select_endereco
                                    };

                                    alert('Jogador alterado !');
                                }
                                localStorage.setItem("jogadores", JSON.stringify(this.jogadores));
                                this.cleanFormularioJogador();

                            }
                        }
                        else {

                            alert("Erro no cadastro, veja os erros listados!!!");
                        }
                    },

                    editJogador: function (param_index) {

                        this.novo_jogador.indice = param_index;
                        this.novo_jogador.nickname = this.jogadores[param_index].nickname;
                        this.novo_jogador.data_nascimento = this.jogadores[param_index].data_nascimento;
                        this.novo_jogador.qtd_estrela = this.jogadores[param_index].qtd_estrela;
                        this.novo_jogador.senha = this.jogadores[param_index].senha;
                        this.novo_jogador.endereco = this.jogadores[param_index].endereco;
                    },

                    remJogador: function (param_index) {

                        //documentacao sobre o splice
                        //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Array/splice
                        //remove 1 elemento do índice definido pela variavel param_index
                        this.jogadores.splice(param_index, 1);

                        localStorage.setItem("jogadores", JSON.stringify(this.jogadores));

                        alert('Removeu o jogador: ' + param_index);
                    },

                    cleanFormularioJogador: function () {

                        this.novo_jogador.indice = '';
                        this.novo_jogador.nickname = '';
                        this.novo_jogador.data_nascimento = '';
                        this.novo_jogador.qtd_estrela = 0;
                        this.novo_jogador.senha = '';
                        this.novo_jogador.status = true;
                        this.novo_jogador.endereco = '';
                    },

                    addModo: function (v) {
                        if (!v.$invalid) {
                            var inputId = this.novo_modo.id;
                            var inputNome = this.novo_modo.nome.trim();
                            var input_status = this.novo_modo.status;

                            if (isNaN(parseInt(this.novo_modo.indice))) {
                                var proximo_id;
                                if (this.modos.length == 0) {
                                    proximo_id = 1;
                                } else {
                                    proximo_id = (parseInt(this.modos[this.modos.length - 1].id) + 1)
                                }
                                this.modos.push({
                                    id: proximo_id,
                                    nome: inputNome,
                                    status: input_status,
                                }
                                );


                                alert('Novo Modo cadastrado !');

                            } else {


                                this.modos[this.novo_modo.indice] = {
                                    id: inputId,
                                    nome: inputNome,
                                    status: input_status,
                                };
                                alert('Modo alterado !');


                            }
                            localStorage.setItem("modos", JSON.stringify(this.modos));

                            this.cleanFormularioModo();
                        }
                    },

                    editModo: function (param_index) {
                        this.novo_modo.indice = param_index;
                        this.novo_modo.id = this.modos[param_index].id;
                        this.novo_modo.nome = this.modos[param_index].nome;
                        this.novo_modo.status = this.modos[param_index].status;
                    },

                    remModo: function (param_index) {
                        var r = confirm("Deseja realmente remover o Jogador " + this.modos[param_index].nome);
                        if (r == true) {
                            this.modos.splice(param_index, 1);
                            localStorage.setItem("modos", JSON.stringify(this.modos));
                            alert('Removeu o modo. ');

                        } else {

                            alert('O Jogador: ' + this.modos[param_index].nome + " não foi removido.");
                        }
                    },

                    cleanFormularioModo: function () {
                        this.novo_modo.indice = '';
                        this.novo_modo.nome = '';
                        this.novo_modo.status = true;
                    },

                    status(validation) {
                    return {
                        error: validation.$error,
                        dirty: validation.$dirty
                    }
                    },

                    addObjetivo: function () {
                        if (this.checkformO()) {
                            var input_id = this.novo_objetivo.id;
                            var input_nome = this.novo_objetivo.nome.trim();
                            var input_status = this.novo_objetivo.status;
                            var input_qtd_pontos = this.novo_objetivo.qtd_pontos;

                            if (isNaN(parseInt(this.novo_objetivo.indice))) {
                                var proximo_id;
                                if (this.objetivos.length == 0) {
                                    proximo_id = 1;
                                } else {
                                    proximo_id = (parseInt(this.objetivos[this.objetivos.length - 1].id) + 1)
                                }
                                this.objetivos.push({
                                    id: proximo_id,
                                    nome: input_nome,
                                    qtd_pontos: input_qtd_pontos,
                                    status: input_status,
                                }
                                );


                                alert('Novo Objetivo cadastrado !');

                            } else {


                                this.objetivos[this.novo_objetivo.indice] = {
                                    id: input_id,
                                    nome: input_nome,
                                    qtd_pontos: input_qtd_pontos,
                                    status: input_status,
                                };
                                alert('Objetivo alterado !');


                            }
                            localStorage.setItem("objetivos", JSON.stringify(this.objetivos));

                            this.cleanFormularioObjetivo();

                        } else {

                            alert("Erro no cadastro, veja a lista de erros!!!");
                        }
                    },

                    editObjetivo: function (param_index) {
                        this.novo_objetivo.indice = param_index;
                        this.novo_objetivo.id = this.objetivos[param_index].id;
                        this.novo_objetivo.nome = this.objetivos[param_index].nome;
                        this.novo_objetivo.qtd_pontos = this.objetivos[param_index].qtd_pontos;
                        this.novo_objetivo.status = this.objetivos[param_index].status;
                    },

                    remObjetivo: function (param_index) {
                        var r = confirm("Deseja realmente remover o Jogador " + this.objetivos[param_index].nome);
                        if (r == true) {

                            //documentacao sobre o splice
                            //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Array/splice
                            //remove 1 elemento do índice definido pela variavel param_index                        
                            this.objetivos.splice(param_index, 1);
                            localStorage.setItem("objetivos", JSON.stringify(this.objetivos));
                            alert('Removeu o objetivo. ');

                        } else {

                            alert('O Jogador: ' + this.objetivos[param_index].nome + " não foi removido.");
                        }



                    },

                    cleanFormularioObjetivo: function () {

                        this.novo_objetivo.indice = '';
                        this.novo_objetivo.nome = '';
                        this.novo_objetivo.qtd_pontos = 0;
                        this.novo_objetivo.status = true;
                    },

                },
                created: function () {

                    this.cleanFormularioEndereco();
                    this.cleanFormularioJogador();
                    this.cleanFormularioObjetivo();
                    this.cleanFormularioModo();
                }
            
        });

    });



</script>

</html>