.letra{
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    padding-top: 10px;
    transition: all 0.5s;
}
.letra:hover{
    text-decoration: underline dashed black;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    cursor: default;
}
.botao{
    background-color: white;
    font-size: 17px;
    color: black;
    font-family: cursive;
    height: 32px;
    width: 100%;
    text-align: center;
    transition: 0.5s all;
    margin-top: 10px;
}
.botao:hover{
    background-color: lime;
    text-decoration: dotted underline black;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
.inputs{
    margin-top: 10px;
    border: 2px solid black;
    font-size: 10px;
    font-family: cursive;
    font-weight: bolder;
    height: 18px;
    width: 180px;
}
.labels{
    font-size: 12px;
    font-family: cursive;
    font-weight: bold;
    margin-left: 5px;

}
.bloco{
    width: 8cm;
    height: auto;
    padding-bottom: 10px;
    transition: all 0ms;
    box-shadow: 10px 10px 50px black;  
    background-color: white;  
    margin-top: 60px;
    margin-left: 40%;
}
.escrita{
    font-family: cursive;   
    font-weight: bolder;
    font-size: 22px;
    color: black;
}
.select{
    width: 150px;
    font-size: 18px;
    font: bold;
    font-family: cursive;
    border: 1.5px solid black;
    margin-left: 15px;
    height: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 02);
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    background: rgb(204, 226, 239);
    display: none;
    width: auto;
    height: auto;
    background-color: red;
}