<html>
<head>
    <meta charset="utf-8">
    <title>Vue - Formulário com Máscaras</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/estilos.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
    <script src="https://unpkg.com/vuelidate@0.7.4/dist/validators.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>

</head>
<!-- CRUD para mapa.
        implementar checagem de número e letra
        implementar filtro para a data
        implementar a biblioteca vuelidate, com base nas seguintes regras:
        codigo: valor entre 1 e 10000
        nome: apenas letras maiusculas de A a Z
        modo terrorista ou contraterrorista(select)
        situação: ativo ou inativo(checkbox)
    -->

<body>
    <div id="app" class="container">
        <h2>Listagem de Mapas do CS</h2>
        <table class="table table-striped">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Modo</th>
                <th scope="col">Situação</th>
                <th scope="col">Alterar</th>
                <th scope="col">Remover</th>
            </tr>
            <tbody>
                <tr v-for="(m, indice) in mapas">
                    <td>{{indice}}</td>
                    <td>{{m.nome}}</td>
                    <td>{{m.data_cadastro}}</td>
                    <td>{{m.modo.nome}}</td>
                    <td v-if="m.status"><input type="checkbox" checked disabled></td>
                    <td v-if="!m.status"><input type="checkbox" disabled></td>
                    <td><button v-on:click="editMapa(indice)" class="btn" type="button">Alterar</button></td>
                    <td><button v-on:click="remMapa(indice)" class="btn" type="button">Remover</button></td>
            </tbody>

        </table>
        <form id='formulario'>
            <h3>Formulário para cadastrar novo mapa</h3>
            <div class="form-group">
                <label for="inputIndice">#:</label>
                <input type="text" v-model="novo_mapa.indice" class="form__input" id="inputIndice" disabled>
            </div>

            <div class="error" v-if="!$v.novo_mapa.nome.required">Nome deve ter no mínimo
                {{$v.novo_mapa.nome.$params.minLength.min}} caracteres.</div>

            <div class="form-group">
                <label class="form__label" for="inputNome">Nome:</label>
                <input class="form__input" type="text" v-model.trim="$v.novo_mapa.nome.$model"
                    :class="status($v.novo_mapa.nome)" id="inputNome">
            </div>

            <div class="error" v-if="!$v.novo_mapa.data_cadastro.minValue">Informe uma data válida (anterior atual).
            </div>
            <div class="form-group">
                <label for="inputDtCad" class="form__label">D. cadastro</label>
                <input type="date" class="form_input" v-model="$v.novo_mapa.data_cadastro.$model"
                    :class="status($v.novo_mapa.data_cadastro)" id="inputDtCad">
            </div>

            <div class="error" v-if="!$v.novo_mapa.modo.required">Selecione uma opção</div>
            <div class="form-group">
                <label for="selectModo" class="input__label">Modo:</label>
                <select class="form__input" v-model="$v.novo_mapa.modo.$model" :class="status($v.novo_mapa.modo)"
                    id="selectModo">
                    <option v-for="m in modos" v-bind:value="m">
                        {{ m.nome }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="checkStatus">Status: </label>
                <input type="checkbox" v-model="novo_mapa.status" id="checkStatus">
            </div>

            <button @click="addMapa($v)" class="btn btn-primary" type="button">Salvar</button>
            <button @click="cleanFormulario" class="btn btn-primary" type="button">Limpar</button>
        </form>
    </div>

</body>
<script type="text/javascript">
    $(document).ready(function () {

        var dados = {
            novo_mapa: { indice: '', nome: '', data_cadastro: '', modo: {}, status: true },

            mapas: [{ nome: 'lol', data_cadastro: '2020-09-01', status: true, modo: { codigo: 1, nome: 'terrorista' } }],

            modos: [{ codigo: 1, nome: 'terrorista'}, { codigo: 1, nome: 'contraterrorista'}],
        };

        Vue.filter('formataData', function (value) {
            var data = new Date(value);
            data.setDate(data.getDate() + 1);
            dia = (data.getDate()).toString().padStart(2, '0'),
                mes = (data.getMonth() + 1).toString().padStart(2, '0'),
                ano = data.getFullYear();
            return dia + "/" + mes + "/" + ano;
        });

        Vue.use(window.vuelidate.default);

        const {
            required,
            minLength,
            minValue,
            between
        } = window.validators

        new Vue({
            el: '#app',
            data: dados,
            validations: {
                novo_mapa: {
                    indice: {
                        required,
                        between: between(0, 10000)
                    },
                    nome: {
                        required,
                        minLength: minLength(3)
                    },
                    data_cadastro: {
                        required,
                        minValue: value => value < new Date().toISOString()
                    },
                    modo: {
                        required
                    }
                }
            },

            methods: {

                isLetter(e) {
                    let char = String.fromCharCode(e.keyCode);
                    if (/^[A-Z]+$/.test(char))
                        return true;
                    else
                        e.preventDefault();
                },

                addMapa: function (v) {
                
                    if (!v.$invalid) {
                        if (isNaN(parseInt(this.novo_mapa.indice))) {
                            this.mapas.push({
                                nome: this.novo_mapa.nome.trim(),
                                data_cadastro: this.novo_mapa.data_cadastro.trim(),
                                modo: this.novo_mapa.modo,
                                status: this.novo_mapa.status,
                            });
                            alert('Novo mapa cadastrado!')
                        } else {
                            this.mapas[this.novo_mapa.indice] = {
                                nome: this.novo_mapa.nome.trim(),
                                data_cadastro: this.novo_mapa.data_cadastro.trim(),
                                modo: this.novo_mapa.modo,
                                status: this.novo_mapa.status,
                            };
                            alert('Mapa alterado com sucesso!');
                        }
                        this.cleanFormulario();
                    }else{
                        alert("Formulário inválido! Verifique as Informações.")

                    }
                    },
                    
                editMapa: function (param_index) {
                    this.novo_mapa.indice = param_index;
                    this.novo_mapa.nome = this.mapas[param_index].nome;
                    this.novo_mapa.data_cadastro = this.mapas[param_index].data_cadastro;
                    this.novo_mapa.modo = this.mapas[param_index].modo;
                    this.novo_mapa.status = this.mapas[param_index].status;
                },

                remMapa: function (param_index) {
                    var r = confirm("deseja realmente remover o mapa" + this.mapas[param_index].nome);
                    if (r == true) {
                        this.mapas.splice(param_index, 1);
                        alert('Mapa removido!');
                    } else {
                        alert('O mapa: ' + this.mapas[param_index].nome + 'não foi removido.')
                    }
                },

                status(validation) {
                    return {
                        error: validation.$error,
                        dirty: validation.$dirty
                    }
                },

                cleanFormulario: function () {
                    this.novo_mapa.indice = '';
                    this.novo_mapa.nome = '';
                    this.novo_mapa.data_cadastro = '';
                    this.novo_mapa_situacao = true;
                    this.novo_mapa.modo = '';
                },

                checknum: function (event) {
                    this.novo_mapa.indice = this.novo_mapa.indice.replace(/[^0-9]/g, '');
                },
                checkletra: function (event) {
                    this.novo_mapa.nome = this.novo_mapa.nome.replace(/[^a-z]/g, '');
                }

            }
        });


    });


</script>


</html>